<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p>msg：<%= msg %></p>
    <p>name：<%= locals.name %></p>
    <%- include('widgets/user-info.ejs', { flag: locals.flag }) %>
    <hr />
    <%- include('widgets/blog-list.ejs', { blogList: locals.blogList }) %>
  </body>
</html>
